$black: #000;
$white: #fff;
$gray: #8b8b8b;
$accent--main: #1ab0b8;
$accent--sec: #FF9D1C;
$border: #dfdfdf;
$bg: #F5F5F5;
$bg--dark: #595959;
$icon--standard: #848484;
$icon--current: $accent--main;
$icon--success: #00B67A;
$checkbox_bg: #097CC3;
